* {
    outline: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}

.left {
    background-image: url("/Users/dele/Documents/Programming/odin-project-repos/signUpForm/background.jpg");
}