* {
    outline: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-image: url("/Users/dele/Documents/Programming/odin-project-repos/signUpForm/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.logoDiv {
    background-image: url("/Users/dele/Documents/Programming/odin-project-repos/signUpForm/logo.png");
}